@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: "Noto Sans", sans-serif;
    background-color: #081b31;
    color:white;
    height: 5rem;
    line-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.box{
    height: 12rem;
    width: 12rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    opacity: 0.5;
}
img{
    height:10rem;
    width: 10rem; 
    object-fit: cover;
    border-radius: 50%;
    border: none;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 10rem;
    border: none;
}


.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:3rem
}


#user,#comp{
    font-size: 4rem;
    text-align: center;
}

.msg-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.result{
    border-radius: 1rem;
    padding: 1rem;
    background-color: #081b31;
    color:#fff;
    font-size: 2rem;
    
}